<plugin name='mlfrontend' version='1.0.1' grailsVersion='1.3.7 &gt; *'>
  <author>Pablo Moretti / Pablo Duranti</author>
  <authorEmail>pablo.moretti@mercadolibre.com / pablo.duranti@mercadolibre.com </authorEmail>
  <title>MercadoLibre Frontend</title>
  <documentation>http://grails.org/plugin/mlfrontend</documentation>
  <resources>
    <resource>BuildConfig</resource>
    <resource>Config</resource>
    <resource>MLFeUrlMappings</resource>
    <resource>UrlMappings</resource>
    <resource>spring.resources</resource>
    <resource>com.mercadolibre.frontend.CaptchaImageController</resource>
    <resource>com.mercadolibre.frontend.CaptchaTestController</resource>
    <resource>com.mercadolibre.frontend.CascadingStyleSheetController</resource>
    <resource>com.mercadolibre.frontend.JavaScriptController</resource>
    <resource>com.mercadolibre.frontend.ResourceController</resource>
    <resource>com.mercadolibre.frontend.TestController</resource>
    <resource>com.mercadolibre.frontend.services.CaptchaStorageService</resource>
    <resource>com.mercadolibre.frontend.services.CaptchaStorageServiceStub</resource>
    <resource>com.mercadolibre.frontend.services.CompressionService</resource>
    <resource>com.mercadolibre.frontend.services.CookieService</resource>
    <resource>com.mercadolibre.frontend.services.MLCaptchaService</resource>
    <resource>com.mercadolibre.frontend.services.MLDomainsResolver</resource>
    <resource>com.mercadolibre.frontend.services.MLDomainsResolverStub</resource>
    <resource>com.mercadolibre.frontend.BodyTagLib</resource>
    <resource>com.mercadolibre.frontend.CaptchaTagLib</resource>
    <resource>com.mercadolibre.frontend.HTMLTagLib</resource>
    <resource>com.mercadolibre.frontend.HeadTagLib</resource>
    <resource>com.mercadolibre.frontend.LinkTagLib</resource>
    <resource>com.mercadolibre.frontend.ScriptTagLib</resource>
    <resource>com.mercadolibre.frontend.UtilTagLib</resource>
  </resources>
  <dependencies />
  <behavior />
</plugin>