<plugin name='mlfrontend' version='0.7.5' grailsVersion='1.3.7 &gt; *'>
  <author>Pablo Moretti / Pablo Duranti</author>
  <authorEmail>pablo.moretti@mercadolibre.com / pablo.duranti@mercadolibre.com </authorEmail>
  <title>MercadoLibre Frontend</title>
  <documentation>http://grails.org/plugin/mlfrontend</documentation>
  <resources>
    <resource>BuildConfig</resource>
    <resource>Config</resource>
    <resource>MLFeStatsFilters</resource>
    <resource>MLFeUrlMappings</resource>
    <resource>spring.resources</resource>
    <resource>com.mercadolibre.frontend.CaptchaImageController</resource>
    <resource>com.mercadolibre.frontend.CascadingStyleSheetController</resource>
    <resource>com.mercadolibre.frontend.JavaScriptController</resource>
    <resource>com.mercadolibre.frontend.ResourceController</resource>
    <resource>com.mercadolibre.frontend.SampleController</resource>
    <resource>com.mercadolibre.frontend.services.HtmlCompressionService</resource>
    <resource>com.mercadolibre.frontend.services.JavasScriptCompressionService</resource>
    <resource>com.mercadolibre.frontend.services.MLDomainsResolver</resource>
    <resource>com.mercadolibre.frontend.services.MLDomainsResolverStub</resource>
    <resource>com.mercadolibre.taglib.HTMLTagLib</resource>
  </resources>
  <dependencies />
  <behavior />
</plugin>